* {
  margin: 0;
  padding: 0;
  font-family: "Jua", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  height: 100%
}


.frame {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 254, 220);
}

.frontpage{
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 254, 220) !important;
  
}

.flex {
  display: flex;
}
.inputTag {
  width: 300px;
}
.input_Tag {
  width: 300px;
}
.inputForm {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  font-weight: bold;
  font-size: 1.2em;
  color: rgb(23, 71, 0);
}

.loginInput {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}
.nameInput {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}
.idInput {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}
.pwdInput {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}
.rePwdInput {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}
.field {
  width: 300px;
}
.button {
  margin: 10px 5px;
  width: 90px;
}
.loginButton {
  width: 90px;
  height: 30px;
  margin: 10px 7px;
  color: white;
  background-color: #387700;
  font-weight: 600;
  border-radius: 5px;
}

.signButton {
  width: 300px;
  height: 40px;
  color: white;
  background-color: #387700;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
}
.surveyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.surveys {
  display: flex;
}
.survey__title {
  font-size: 48px;
  margin-bottom: 20px;
  color: #387700;
}
.divider {
  width: 50px;
  height: 10px;
  background-color: #387700;
  border-radius: 5px;
  margin-bottom: 30px;
}
.survey__question {
  font-size: 36px;
  margin-bottom: 20px;
}
.survey_answers {
  display: flex;
  align-items: center;
}
.control {
  margin: 0 100px;
  margin-top: 50px;
  line-height: 50px;
}
.radio {
  font-size: 24px;
  margin-right: 10px;
}
.radio__text {
  padding-left: 10px;
}

.answer {
  background-color: transparent;
  border: none;
  color: rgb(23, 71, 0);
  font-size: 50px;
  transition: all 300ms ease;
  cursor: pointer;
}
.answer :hover {
  color: rgb(255, 21, 118);
  transform: scale(1.2);
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.myPageContainer {
  padding: 50px;
}
.myPage__title {
  color: #387700;
  font-size: 60px;
}
.myPage__button {
  width: 130px;
  height: 40px;
  color: white;
  background-color: rgb(23, 71, 0);
  font-size: 16px;
  font-weight: 600;
  border: 1px solid rgb(23, 71, 0);
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms ease;
}
.myPage__button:hover {
  transform: scale(1.05);
}

.cardContainer {
  margin-top: 80px;
  height: 600px;

  border-radius: 15px;
  background-color: white;
  border-radius: 15px;
}

.Button {
  padding: 20px;
  display: flex;
  justify-content: end;
}

.main__button {
  width: 130px;
  height: 40px;
  color: white;
  background-color: rgb(23, 71, 0);
  font-size: 16px;
  font-weight: 600;
  border: 1px solid rgb(23, 71, 0);
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 300ms ease;
}
.main__button:hover {
  transform: scale(1.05);
}

#title {
  display: flex;
  justify-content: center;
  color: #388700;
  margin-top: 150px;
  font-family: "Dongle", sans-serif;
  font-family: "Jua", sans-serif;
  font-size: 80px;
}
.card {
  width: 500px;
  height: 350px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  margin-bottom: 50px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  transition: all 300ms ease;
}
.card:hover {
  transform: scale(1.2);
  background-image: none;
}
.card:hover .text {
  font-size: 50px;
  transform: translate(-150%, -200%);
  color: rgb(23, 71, 0);
  width: 150px;
  height: 65px;
  border-radius: 15px;
  text-align: center;
  background-color: rgb(255, 254, 220);
}
.like__button {
  font-size: 24px;
  position: absolute;
  display: none;
  top: 23%;
  left: 37%;
  color: red;
  border: none;
  font-weight: 100;
  background-color: transparent;
  transition: all 300ms all;
  cursor: pointer;
}
.likeButtonNum {
  margin-left: 5px;
  font-weight: bold;
}
.description {
  font-size: 16px;
  margin: 0;
  position: absolute;
  display: none;
  top: 50%;
  left: 5%;
  padding: 10px;
  border-radius: 15px;
  width: 90%;
  height: 130px;
  color: black;
  background-color: white;
  font-weight: 100;
  transition: all 300ms all;
}

.card:hover .description {
  display: block;
}
.card:hover .like__button {
  display: block;
}
.like__button:hover {
  color: rgb(250, 189, 237);
  transform: scale(1.2);
}

.card__image {
  width: 100%;
  height: 100%;
}
.card-box {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  padding: 0 80px;

  flex-wrap: wrap;
}
.text {
  font-size: 80px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 254, 220);
  font-weight: 100;
  transition: all 300ms all;
}
.ttext {
  display: flex;
  font-size: 50px;
  justify-content: center;
  font-family: "Dongle", sans-serif;
  font-family: "Jua", sans-serif;
  color: #388700;
  padding-top: 50px;
}
.img {
  text-align: center;
  margin-top: 50px;
}
.button {
  background-color: rgb(23, 71, 0);
  color: white;
  font-family: "Dongle", sans-serif;
  font-family: "Jua", sans-serif;
}
.BButton {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.card-title {
  margin-top: 50px;
}
.card-text {
  font-family: "Dongle", sans-serif;
  font-family: "Jua", sans-serif;
}
