* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgb(255, 254, 220);
}
.flex {
  display: flex;
}
.container {
  width: 100%;
  height: 100vh;
}
.inputForm {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-weight: bold;
  font-size: 1.2em;
  color: #387700;
}

.loginInput {
  width: 250px;
  height: 30px;
  margin-bottom: 10px;
}

.loginButton {
  width: 80px;
  height: 30px;
  margin: 0 5px;
  color: white;
  background-color: rgb(23, 71, 0);
  font-weight: 600;
  border: 1px solid rgb(23, 71, 0);
  border-radius: 5px;
}

.signButton {
  width: 260px;
  height: 40px;
  color: white;
  background-color: rgb(23, 71, 0);
  font-size: 16px;
  font-weight: 600;
  border: 1px solid rgb(23, 71, 0);
  border-radius: 5px;
}
.surveyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.surveys {
  display: flex;
}
.survey__title {
  font-size: 48px;
  margin-bottom: 20px;
  color: #387700;
}
.divider {
  width: 50px;
  height: 10px;
  background-color: #387700;
  border-radius: 5px;
  margin-bottom: 30px;
}
.survey__question {
  margin-bottom: 20px;
}
.survey_answers {
  display: flex;
  align-items: center;
}
.control {
  width: 370px;
  padding-left: 130px;
  line-height: 50px;
}
.radio {
  margin-right: 10px;
}

.answer {
  background-color: transparent;
  border: none;
  color: rgb(23, 71, 0);
  font-size: 50px;
  transition: all 300ms ease;
  cursor: pointer;
}
.answer :hover {
  color: rgb(255, 21, 118);
  transform: scale(1.2);
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.myPageContainer {
  padding: 50px;
}
.myPage__title {
  color: #387700;
  font-size: 60px;
}
.myPage__button {
  width: 130px;
  height: 40px;
  color: white;
  background-color: rgb(23, 71, 0);
  font-size: 16px;
  font-weight: 600;
  border: 1px solid rgb(23, 71, 0);
  border-radius: 5px;
}
.cardContainer {
  margin-top: 80px;
  height: 600px;

  border-radius: 15px;
  background-color: white;
  border-radius: 15px;
}
