{% extends "base.html" %}
{% block content %}
    
    <div class="Button">
      {% if request.cookies.get('mytoken') %}
      <button class="main__button logout__button" onclick="logout()" >Logout</button>
      <button class="main__button myPage__button" >My page</button>
      {% else %}
      <button class="main__button login__button" >Login</button>
      <button class="main__button myPage__button" >My page</button>
      {% endif %}
    </div>
    
    <div id="title"> My Jungle Trip  </div>

    <ul class="card-box"></ul>
  </div>

  <!-- javascript -->
  <script>
    const cardBox = $('.card-box')    
    
    function onClickLike(city){     
       if ($.cookie('mytoken')==null){
          alert("로그인을 해주세요")
          return
         }          

      $.ajax({
        type : "POST",
        url : "/like",
        data : {'city' : city},
        success : res => {
          if(res['result'] === 'success'){
            return
          }
        }
      })

      $.ajax({
        type : "POST",
        url : "/like/check",
        data : {'userId': getToken(), 'city' : city},
        success : res => {
          if(res['result'] === 'success'){            
            window.location.reload()
          }
        }
      })
    }    

    $('.login__button').click(()=>{
      window.location.href='./login';
    })
    
    $('.myPage__button').click(()=>{
      window.location.href='./mypage';
    })

function logout(){
        $.removeCookie('mytoken');
        alert('로그아웃!')
        window.location.href='/'}

    $.ajax({
      type : "GET",
      url : "/read",
      data : {},
      success : (res)=>{
        if(res['result'] === "success"){
          res['cities'].map((data)=>{
            makeCard(data)
          })
        }
      }
    })  
  
    function makeCard(data){
      const userId = getToken();
      const city = data['city'];

      $.ajax({
        type : "POST",
        url : "/like/confirm",
        data : {'city' : city, 'userId' : userId},
        success : (res) => {
          console.log(res)
        }
      })     

      const card = `<li class="card">
        <img class = "card__image" src="${data['image']}">         
        <div class="text"><b>${data['city']}</b></div>   
        <button class="like__button" onclick="onClickLike('${data['city']}')">
          <i class="fa-solid fa-heart"></i>
          <span class="likeButtonNum">${data['like']}</span>
        </button>
        <div class="description">${data['desc']}</div>      
    </li>`
      cardBox.append(card)
    }

    function getToken(){
      const token = document.cookie.split("=")[1]
      var base64Url = token.split('.')[1];
      var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
      var jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
          return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
      }).join(''));
      return JSON.parse(jsonPayload).id; 
  }
  </script>
{%endblock %}