{% extends "base.html" %}
{% block content %}
    <div class="inputForm">
        <div class="field">
            <label class="label">이름</label>
            <div class=" has-icons-left has-icons-right">
                <input class="input nameInput" type="text">                   
            </div>       
        </div>

        <div class="field">
            <label class="label">아이디</label>
            <div class=" has-icons-left has-icons-right">
                <input class="input idInput " type="password">        
            </div>       
        </div>      

        <div class="field">
            <label class="label">비밀번호</label>
            <div class=" has-icons-left has-icons-right">
                <input class="input pwdInput" type="password">                     
            </div>       
        </div>

        <div class="field">
            <label class="label">비밀번호 확인</label>
            <div class=" has-icons-left has-icons-right">
                <input class="input rePwdInput" type="password"  >                  
            </div>       
        </div>      
    
        <div class="field is-grouped">            
            <button class="button signButton">가입하기</button>                    
        </div>
    </div>
</div>
<!-- javascript -->
<script>

    const nameInput = $('.nameInput');
    const idInput = $('.idInput');
    const pwdInput = $('.pwdInput');
    const rePwdInput = $('.rePwdInput');

    $('.signButton').click(()=>{
        const name = nameInput.val()
        const id = idInput.val()
        const pwd = pwdInput.val()
        const repwd = rePwdInput.val()
        console.log(name, id, pwd, repwd)
        // 회원가입 로직 필요
        alert('회원가입 완료되었습니다.');
        window.location.href='./';
    })    
  </script>
{%endblock %}
