{% extends "base.html" %}
{% block content %}
    
        <h1 class="ttext"><b>당신의 여행 취향은 <span class="location">타이틀</span>입니다.</b></h1>    
        <div class="img">
            <img src="../static/hi.jpg" width=700 height=700>
            <div class="card-title">
            <h2 class="card-text">Card title that wraps to a new line</h2>

            <p class="card-text">이곳에 타이틀관련 내용을 입력해주세요./이곳에 타이틀관련 내용을 입력해주세요.</p>
            <p class="card-text">이곳에 타이틀관련 내용을 입력해주세요./이곳에 타이틀관련 내용을 입력해주세요.</p>
            <p class="card-text">이곳에 타이틀관련 내용을 입력해주세요./이곳에 타이틀관련 내용을 입력해주세요.</p>
            <p class="card-text">이곳에 타이틀관련 내용을 입력해주세요./이곳에 타이틀관련 내용을 입력해주세요.</p>
            <p class="card-text">이곳에 타이틀관련 내용을 입력해주세요./이곳에 타이틀관련 내용을 입력해주세요.</p>
            </div>        
        </div>
        <div class="BButton">
            <button class="main__button">My page</button>
        </div>  
<!-- javascript -->
<script>
    $('.main__button').click(()=>{
      window.location.href='./';
    })
   
  </script>
{%endblock %}