<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7b383c2d35.js" crossorigin="anonymous"></script>
    <title>survey</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="surveyContainer">
     <h1 class="survey__title">취향조사</h1>
     <div class="divider"></div>
     <h3 class="survey__question">Q1. 당신이 선호하는 지역은?</h3>
     <div class="survey_answers">
         <button class="answer answer_pre"><i class="fa-solid fa-angle-left"></i></button>
         <div class="control">
            <label class="radio"><input type="radio" name="answer">아아아아</label><br>
            <label class="radio"><input type="radio" name="answer">아아아아</label><br>
            <label class="radio"><input type="radio" name="answer">아아아아아아아아</label><br>
            <label class="radio"><input type="radio" name="answer">아아아아</label><br>
            <label class="radio"><input type="radio" name="answer">아아아아</label><br>
          </div>
         <button class="answer answer_next"><i class="fa-solid fa-angle-right"></i></button>
     </div>
    </div>
    {% endblock %}    
</body>
</html>